.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 116px;
  height: 46px; 
  padding: 0  10px;
  background-color: #F9F9F9;
}

.Controls {
  border: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;

  &:active {
    transform: scale(.8);
  }
}

.InputNumber {
  appearance: textfield;
  border: 0;
  width: 50px;
  outline: 0;
  background: none;
  text-align: center;

  &::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &:focus {
    outline: 0;
  }

  
}