.FeatureCard {
  font-family: satoshi, system-ui, sans-serif;
  vertical-align: middle;
  padding: 36px 24px;
  h4 {
    font-weight: 400;
    margin: .5em 0 .8em;
  }
  p {
    line-height: 150%;
  }
}