// Clash display
@font-face {
  font-family: clash-display;
  src: url('../assets/fonts/ClashDisplay-Regular.ttf');
}
@font-face {
  font-family: clash-diplay;
  src: url('../assets/fonts/ClashDisplay-Medium.ttf');
}

// Satoshi
@font-face {
  font-family: satoshi;
  src: url('../assets/fonts/Satoshi-Regular.ttf');
}
@font-face {
  font-family: satoshi;
  src: url('../assets/fonts/Satoshi-Bold.ttf');
  font-weight: bold;
}