/* stylelint-disable selector-class-pattern */

/* stylelint-disable-next-line scss/at-import-partial-extension */
@import '@styles/variables.scss';

.container {
  font-family: satoshi,system-ui;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  font-size: $display-2;
  border: 0;
  white-space: nowrap;

  &:disabled {
    opacity: .6;
  }
}

.icon {
  margin-left: 1em;
}

.primary {
  background-color: $white;
  color: $black;
}

.secondary {
  background-color: $light-gray;
  color: $black;
}

.tertiary {
  background-color: $dark-primary;
  color: $white;
}

.fourty {
  background-color: $primary;
  color: $white;
}

.fifty {
  background-color: $dark-primary;
  color: $white;
}

.small {
  min-width: 95px;
  height: 48px;
}

.medium {
  min-width: 111px;
  height: 56px;
}

.w-full {
  width: 100%;
}